<div style="background-color: white; border: 2px solid black; display: inline-block;">
    <img src="cid:banner@mail.d20server" style="width:100%; margin-bottom: 50px;">

    <div style="padding: 5px;">
        <h1>Congratulations, {{ user.nickname }} </h1>

        <br />

        <p style="margin-top: 10px;">
            {{ admin.nickname }} has granted you {{ permission.description }}.
        </p>

        <br />

        <p style="margin-top: 5px;">
            {{ permission.details }}
        </p>

        <br />

        <p style="margin-top: 5px;">
            <a rel="nofollow" href="{{ link_back }}" target="_blank">Try out your new powers</a>
        </p>

        <br />
    </div>

</div>
